<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
        <h2 class="main-headline">WorkFlow</h2>
      <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Navigate
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="/jobs">View All jobs</a></li>
    <li><a id = "profile" href="/users/{{currentUser.username}}">Update your profile</a></li>
    <li><a id = "dashboard"href="/users/{{currentUser.username}}/dashboard">Go to your dashboard</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="/">Log Out</a></li>
  </ul>
</div>
    </div>
</nav>
