<div class="well bs-component">
        <form class="form-horizontal postForm" action="/users/image" method="POST">
             <input type="file"  name ="pImage" id="pImage">
            <button class= "btn btn-danger">Submit</button>
        </form>
    </div>