{{> elements/header}}
<div class = "container">
    <form action="/users" method="POST">
        <label for="signUp">Email</label>
        <input id ="signUp" type = "email" name = "email" placeholder="enter your email address">
        <label for="PW">Password</label>
        <input id ="PW" type ="password" name = "password">
        <label for ="userName">User Name</label>
        <input id ="userName"type = "text" name = "user" placeholder="select your username">
        <button class = "btn btn-large btn-primary">
            submit
        </button>
    </form>