<!DOCTYPE>
<html>

<head>
    <meta charset="UTF-8">
    <!--setting viewport-->
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
    <!--link to bootstrap-->
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <!--link to google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Carter+One|Shrikhand" rel="stylesheet">
    <!--link to external css-->
    <link id="style-change" rel="stylesheet" href="/assets/css/style.css">
    <title>HandleBars Testing</title>

</head>

<body>
    {{{body}}}
</body>
<!--link to jQuery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!--Link to external js-->
<script src="public/assets/js/logic.js"></script>

</html>